DB_HOST=database
DB_PORT=5432
DB_USER=postgres_user
DB_PASS=postgres_password
DB_NAME=dsk
JWT_SECRET=supersecretjwt
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

MAX_MANAGER_DISCOUNT_PERCENT=5
MAX_SUPERVISOR_DISCOUNT_PERCENT=15
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:4173,http://127.0.0.1:4173

SMTP_HOST=smtp.yandex.ru
SMTP_PORT=587
SMTP_USERNAME=email@yandex.ru
SMTP_PASSWORD=email-pass-smtp
SMTP_FROM=zaitsevilya.com@yandex.ru
